body {
    background-color: #E8EAF6;
}

.container {
    background-color: #C5CAE9;
}

.table td,
.table th {
    border: none;

}

.table td {
    padding: 0px 55px;
}

.fhead {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: -1rem;
}

.stab td {
    padding-right: 0px !important;
}

label {
    margin-bottom: 0rem !important;
}